name: Test

permissions:
  contents: read

on:
  - push
  - pull_request

jobs:
  tests:
    name: Python ${{ matrix.python }} + PostgreSQL ${{ matrix.postgresql }}
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:${{ matrix.postgresql }}
        env:
          POSTGRES_DB: sqlalchemy_searchable_test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    strategy:
      fail-fast: false
      matrix:
        include:
          - python: "3.14"
            postgresql: "18"

          - python: "3.13"
            postgresql: "17"

          - python: "3.12"
            postgresql: "16"

          - python: "3.11"
            postgresql: "15"

          - python: "3.10"
            postgresql: "14"

          - python: "3.9"
            postgresql: "14"

          - python: "3.8"
            postgresql: "14"

          - python: "pypy3.9"
            postgresql: "14"

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade tox setuptools

      - name: Run tests
        env:
          SQLALCHEMY_SEARCHABLE_TEST_PASSWORD: postgres
          TOXENV: py-sqla1.4, py-sqla2.0
        run: tox
